@import url('https://fonts.googleapis.com/css2?family=Agbalumo&family=Fugaz+One&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import 'tailwindcss';
body {
  text-align: center;
  font-family:"Poppins", serif;
  background-color: #eaf4f4;
}
@utility container {
  @apply mx-auto max-w-[1252px] px-16 max-xl:px-10 max-lg:px-6 max-sm:px-4
}
